  body{
    background-color: #162b4e;
    font-family: 'Open Sans', sans-serif;
  }
  h1{
    text-align: center;
  }

  button{
    background-color: #48e120;
    color: #000000;
  }

   .contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;


    }

    .contenedor1{
      display: flex;
      flex-direction: row;
      max-width: 100%;
      justify-content: space-between;

    }

